.clients__container {
    display: block;
}

.clients__title {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 30px;
}

.clients-list {
    @extend %flex-align;
    flex-wrap: wrap;
    flex-basis: calc((100% - 1 * 30px) / 2);
    gap: 30px;
}

.client-list__item {
    @extend %flex-align;
    width: calc((100% - 1 * 30px) / 2);
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        border-color: var(--primery-accent-color);
    }
}

.client-list__link {
    @extend %flex-align;
    width: 100%;
    height: 100%;
    color: #AFB1B8;
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);

    &:hover,
    &:focus {
        fill: var(--primery-accent-color);
    }
}

@media screen and (min-width: 768px) {
    .clients-list {
        flex-basis: calc((100% - 2 * 30px) / 3);
        }

    .client-list__item {
        width: calc((100% - 2 * 30px) / 3);
    }
    
}

@media screen and (min-width: 1200px) {
    .clients__title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
    
    .client-list__item {
        width: 170px;
    }
    
    .clients-list {
        flex-basis: calc((100% - 5 * 30px) / 6);
        flex-wrap: nowrap;
    }
}
