@media screen and (max-width: 767px) {
    .page-header {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--primary-bg-color);
        border-bottom: 1px solid #ECECEC;
    }    
    .site-nav__list {
        display: none;
    }

    .contacts-nav {
        display: none;
    }

    .mobile-menu-btn {
        border: none;
        background-color: transparent;
        line-height: 0;
        padding: 0;
    }

    .mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }

    .page-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }

    .page-header {
        background-color: var(--primary-bg-color);
        border-bottom: 1px solid #ECECEC;
    }

    .page-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-nav {
        display: flex;
        align-items: center;
    }

    .site-nav__list {
        display: flex;
        column-gap: 50px;
        margin-right: auto;
    }

    .site-nav__logo {
        margin-right: 80px;
    }

    .contacts-nav {
        margin-left: auto;
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }

    .contect-nav__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--primary-text-color);
        transition: color var(--transition-dur-and-func);

        &:focus,
        &:hover {
            color: var(--primery-accent-color);
        }
    }

    .contacts-nav__item {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }

    @media screen and (max-width: 1199px) {
        .contacts-nav__item:not(:last-child) {
            margin-bottom: 10px;
        }
            
    }    
    
    .site-nav__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

}

@media screen and (min-width: 1200px) {
    .contect-nav__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .contacts-nav {
        display: flex;
        column-gap: 50px;
    }

    .contacts-nav__item {
        font-size: 14px;
        line-height: 1.14;
    }

    
}



.contact-nav__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);
}


.site-nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);

    &:focus,
    &:hover,
    &:active {
    color: var(--primery-accent-color);
    }
    &.current {
    color: var(--primery-accent-color);
    }

    &.current::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primery-accent-color);
        }
}
