.work-content-item {
    & .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    & .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--primary-text-color)
    }
}

.work-content__link:hover,
.work-content__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    overflow: auto;

    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform var(--transition-dur-and-func);

    .work-content__link:hover &,
    .work-content__link:focus & {
        transform: translateY(0%);
    }
}

.text-block {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    flex-grow: 1;
}

@media screen and (max-width:767px) {
    .works-menu {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: flex-start;
        column-gap: 8px;
        row-gap: 15px;
        margin-bottom: 40px;
    }

    .work-content-item {
        margin-bottom: 50px;
    }    
}

@media screen and (min-width: 768px) {
    .works-menu {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    }

    .works-content {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 30px;
        list-style: none;
        }

    .work-content-item {
        flex-basis: calc((100% - 30px) / 2)
    }

    .work-content__link {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        transition: box-shadow var(--transition-dur-and-func);
    }

}

@media screen and (min-width: 1200px) {
    .work-content-item {
        flex-basis: calc((100% - 60px) / 3);
    }

    .works-menu {
        margin-bottom: 50px;
    }
}


