// .footer-form {
//     margin-left: auto;
// }

.footer-form-text {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}
.footer-form-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
// .footer-form-thumb {
//     @extend %flex-align
// }

.footer-form-field {
    width: 100%;
}

.footer-form-input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--primary-dark-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-bg-color);
}

@media screen and (min-width: 768px) {
    .footer-form {
        display: block;
    }

    .footer-form-thumb {
        width: 450px;
    }

    
}

@media screen and (min-width: 1200px) {
    .footer-form-field {
        margin-right: 12px;
        width: 358px;
        height: 50px;
    }

    .footer-form-input {
        width: 358px;
        height: 50px;
        margin-bottom: 0;
    }

    .footer-form {
        margin-left: auto;
    }

    .footer-form-thumb {
        width: 570px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-form-text {
        text-align: start;
    }
}